<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205875883184-9pfakh25a5qdm6bs1m588u4djd9v46fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205875883184-9pfakh25a5qdm6bs1m588u4djd9v46fd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205875883184-2kl8dk55rm9fa58r5k8b64b3bph5h374.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAbdhuC_EMBg9zIaQNG2GJYt4nqwcpwyA</string>
	<key>GCM_SENDER_ID</key>
	<string>205875883184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accesslawoffice.accessLawFirm</string>
	<key>PROJECT_ID</key>
	<string>access-law-firm</string>
	<key>STORAGE_BUCKET</key>
	<string>access-law-firm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205875883184:ios:2779af5590c401b8d45f75</string>
</dict>
</plist>
